.year{
    color: rgb(141, 52, 46);
}
#wave {
    color: rgb(57, 29, 156);
    padding-top: calc((100% - 1100px) / 2);
    height: 7em;
    box-sizing: content-box;
    background: currentColor;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
#wave svg {
    display: block;
    position: relative;
    top: calc(7em - 1px);
}
.name:hover{
    color:rgb(57, 29, 156);
}
h3:hover{
    color:rgb(57, 29, 156);
}

 